.background-banner { 
    width: 100%;
    height: 100%;
    background-image: url(https://s2.glbimg.com/A9KYG2fcR9VU8UJeLj_z93dTpo4=/smart/e.glbimg.com/og/ed/f/original/2019/05/23/nobu-ryokan-malibu-beachfront-room.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}